.jobname{
    text-align: center;
    margin-top: 20px;
}

.jobname h1 {
    font-size: 36px;
    color: #333;
}

.ul1 {
    list-style-type: none;
    padding: 0;
    
}

.jobbox {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}
    
.jobbox p {
    text-align: center;
    font-size: 18px;
    color: #666;

}


.display {
    justify-content: center;
    align-items: center;
    height: 100vh;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.1);
}